<table class="table ">
    <thead>
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% p.forEach( function(model) { %>
        <tr>

            <td><%=model.filename %></td>
          
            <td><button type="button" class="btn btn-danger btn-sm "
                    onclick="fileDelete('<%= model.id %>')">delete</button>
                <a class="btn btn-danger btn-sm" href="/file/rename/<%=model.id %>" roel="button">rename </a>
                <a class="btn btn-danger btn-sm " href="/file/download/<%= model.id %>" role ="button">download</a>
                <button  class="btn btn-danger btn-sm "  type ="button" onclick="fileShare('<%= model.id %>')">share</button>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
    async function fileDelete(id) {
        var response = await fetch("/file/" + id, {
            method: "DELETE",
            credentials: 'same-origin',
        });
        if (response.ok) {
            alert("delete sucessful");
            location.reload(true);

        }

    };
    async function fileShare(id){
        var shareuser = prompt("share to: ");
        var response = await fetch("/file/"+id+"/"+shareuser,{
            method: "POST",
            credentials:'same-origin',

        }); if (response.ok){
            alert ("shared");
            location.reload(true);
        }



    }
</script>